* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.Header img {
    width: 80px;
    padding: 13px;
}
.Header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    width: 100%;
    object-fit: cover;

}
#menu {
    display: none;
}
.navigation {
    padding: 10px 40px;
}
.navigation a {
    padding: 10px 25px;
    color: azure;
    text-decoration: none;
    padding: 15px;
}
a:hover {
    color: #fcd600;
}
nav a:last-child {
    color: black;
    background-color: #fcd600;
    border-radius: 15rem;
}
nav a:last-child:hover {
    background-color: #ffde20;
}
.hero {
    width: 100%;
    position: relative;
    z-index: -1;
}
.hero picture img {
    width: 100%;
    position: absolute;
}
#scooter-photo {
    position: absolute;
    right: 0;

}
#message-hero {
    background: rgba(255, 255, 255, 0.45);
    position: absolute;
    top: 10rem;
    left: 100px;
    padding: 20px;
    border-radius: 25px;
    line-height: 1.5;
    width: 30%;
}
a.current:link, a.current:visited {
    color: #fcd600;
}
#btnAction {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
}
#btnAction:hover {
    background-color: #fcd600;
}