@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    #menu {
        position:absolute;
        display: block;
        top: 1.5rem;
        right: 1.5rem;
        padding: 5px;
        color: azure;
        border-color: transparent;
        background-color: transparent;
    }
    .Header {
        display: block;
        padding: 0;
        object-fit: cover;
    }
    #menu::before {
        content: "☰";
        padding: 20px 10px;
    }
    #menu.open::before {
        content: "X";
        padding: 20px 10px;
      }
    .navigation a {
        display: block;
        width: 30%;
        margin: 0 auto;
    }
    .navigation {
        width: 100%;
        background-color: #000000;
        display: none;
        padding: 10px;
        text-align: center;

    }
    .hero {
        width: 100%;
        display: block;
    }
    .hero picture img {
         display: block;
    }
    #scooter-photo {
        width: 90%;
        display: block;
        top: 19rem;
        left: 5%;
        z-index: 0;
    }
    #message-hero {
        top: 5rem;
        width: 80%;
        left: 10%;
    }

    .open {
        display: block;
    }
    #btnAction {
        z-index: -1;
    }
}
@media (max-width: 400px) {
    #message-hero {
        top: 8rem;
        width: 80%;
        left: 10%;
    }
    #scooter-photo {
        width: 90%;
        display: block;
        top: 26rem;
        left: 5%;
        z-index: 0;
    }
}