@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Raleway:ital,wght@0,100;0,200;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
  font-family: 'Montserrat', 'Bradley Hand', sans-serif;
  line-height: 1.6;
  color: #333333;
  background-color: #f8f8f8;
  margin: 0;
}

header {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  background-color: #24ff10;
  color: #444444;
}

.card {
  padding: 20px;
  border: 2px solid #24ff10;
  border-radius: 5px;
  background-color: #ffffff00;
  width: 100%;
  margin: 0 auto;
}
.card a {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
}

section {
  display: grid;
  padding: 1rem;
}
main {
  display: flex;
  justify-content:space-around;
  padding: 50px;
}


  