@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #003566;
  --secondary-color: #00b4d8;
  --accent1-color: #caf0f8;
  --accent2-color: #ffc300;

  --heading-font: "Roboto Condensed";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  --headline-color-on-white: #003566; /* headlines on a white background */
  --headline-color-on-color: #ffc300; /* headlines on a colored background */
  --paragraph-color-on-white: #003566; /* paragraph text on a white background */
  --paragraph-color-on-color: #caf0f8; /* paragraph text on a colored background */
  --paragraph-background-color: #003566;
  --nav-link-color: #f1a208;
  --nav-background-color: #003566;
  --nav-hover-link-color: #003566;
  --nav-hover-background-color: #f1a208;
}

* {
  box-sizing: border-box;
  max-width: 2000px;
  padding: 0;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: var(--paragraph-font);
  font-size: 18px;
}

header {
  background-color: var(--primary-color);
  text-align: center;
}

#logo {
  width: 70px;
}
nav {
  display: flex;
}

nav a {
  padding: 30px;
  color: var(--nav-link-color);
  align-items: center;
  font-family: var(--heading-font);
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  font-weight: bolder;
}
#hero-box img {
  width: 100%;
}

.button-box {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
.button-box a {
  color: white;
  text-decoration: none;
}

#home-grid {
  width: 100%;
  display: block;
}
.benefits {
  text-align: center;
  font-size: 1rem;
}
.benefits p {
  padding: 20px;
}
.benefits h2 {
  padding: 10px;
}
.benefits img {
  width: 40%;
  border-radius: 50%;
  padding: 20px;
}
main {
  padding-top: 40px;
}
h2 {
  text-align: center;
  color: var(--primary-color);
  padding: 15px;
}
#images-explanation {
  width: 100%;
  text-align: center;
}
.grid-descriptive img {
  width: 90%;
  display: inline-block;
  justify-content: center;
  padding: 40px;
  border-radius: 13%;
}

#sidebar {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgb(237, 247, 247);
}
#sidebar article {
  color: white;
  background-color: #277391;
  margin: 40px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
#sidebar article p {
  padding: 20px;
}
#imgContainer {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #ffffff;
  padding: 20px;
}

#imgContainer img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  padding: 20px;
}

iframe {
  width: 100%;
  border-radius: 15px;
}

#imgContainer img:hover {box-shadow: 0 0 50px #333;}

/*small view navigation */
#menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
  padding: 20px 10px;
}

#menu.open::before {
  content: "x";
  padding: 20px 10px;
}

.navigation a {
  display: block;
}

.navigation {
  display: none;
}



/* when the button is clicked - the open class is toggled (added/removed) */
.open {
  display: block;
}
.open::before {
  content: "📍";
}




/* toggle */
#mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

#hero-2 img {
  padding: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
#hero-2 picture {
  width: 100%;
}
#hero-2 {
  position: relative;
}
.heroLabel {
  position: absolute;
  top: 30px;
  left: 30px;
  background: radial-gradient(#fff, #3c86e6);
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
}

.heroLabel p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.2rem;
}

#iconWeather {
  width: 50px;
}

#weather {
  padding: 10px;
  text-align: center;
  background-color: var(--primary-color);
  width: 60%;
  box-shadow: 0 0 3rem #252525;
  border-radius: 25px;
  color: #ddd;
}
#weather p {
  line-height: 2rem;
}
#hero {
  padding-bottom: 50px;
}

#discover-page {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
  padding-top: 0px;


}
