@media (min-width: 37.5em) {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
   
    #home-grid {
        width: 100%;
        display: flex;
        justify-items: center;
    }
    .benefits img {
        width: 40%;
        border-radius: 50%;
    }
    .grid-descriptive img {
        width: 60%;
    }
    
    #hero-box {
    position: relative;
    }
    .button-box {
    position: absolute;
    top: 14rem;
    left: 2rem;
    width: auto;
    height: auto;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    }
    .button-box a {
    color: white;
    text-decoration: none;
    }


    h2 {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    .card {
      justify-items: center;
    }
    #menu {
      display: none;
    }
    iframe {
      display: flex;
      width: 56%;
      height: 450px;
      padding-bottom: 3rem;
      display: flex;
      margin: 0 auto;
    }
  }