/* Reset de estilos para eliminar márgenes y padding predeterminados en todos los elementos */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Raleway:ital,wght@0,100;0,200;1,100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Bradley Hand', sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: #f8f8f8;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    background-color: #24ff10;
    color: #444444;
}

header img {
    width: 150px;
    height: 150px;
}

h1 {
    font-size: 24px;
    padding-left: 10px;
}

nav {
    background-color: #444444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #24ff10;
    margin: 0 15px;
    font-size: 16px;
    display: block;
    padding: 10px;
}

nav a:hover {
    color: #ddd;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}
.card p{
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #363636;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
}

footer {
    background-color: #333;
    color: #24ff10;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

/* Estilo para los enlaces en nel pie de página*/
footer a {
    color: #fff;
    text-decoration: none;
}
img {
    width: 50px;
    padding: 10px;;
}

