@media(max-width: 991px) {
    .menu {
        padding: 30px;
        margin: 0;
    }
    label {
        display: initial;
    }
    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .item {
        margin: 0 0 20px 0;
        width: 100%;
    }
    .btn {
        width: 100px;
    }
    #menu:checked ~ .menu {
        display: initial;
    }
}